ul {
    list-style-type: none;
}

.config-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px 30px 0;

    cursor: pointer;
}

.config-btn md-icon {
    padding-left: 20px;
    background-color: transparent;
}
