<collapse-group>
  <collapse-item open="false">
    <collapse-header>Configs</collapse-header>
    <ul>
      <div *ngIf="workspaceConfigService.configs.length > 0">
          <li *ngFor="let config of workspaceConfigService.configs"
           (click)="workspaceConfigService.setConfig(config.name)"
            class = "config-btn">
                <span>{{config.name}}</span>
                <md-icon (click)="workspaceConfigService.deleteConf(config.name)" class="icon-close">close</md-icon>
          </li>

          <li (click)="workspaceConfigService.saveConfigurationGrid()" class = "config-btn" id="save-config">
              <span>save</span><md-icon>save</md-icon>
          </li>
      </div>
        <li>
            <md-icon (click)="workspaceConfigService.addConf()">add</md-icon>
            <input type="text" placeholder="New config name" id="new_config_name" [(ngModel)]="workspaceConfigService.newConfigName" required  name="name">
        </li>
    </ul>
  </collapse-item>
    <collapse-item open="false">
        <collapse-header>Draws</collapse-header>
        <ul>
            <li *ngFor="let d of draws">
                <span (click)="addDraw(d.name)" [innerHtml]="d.svg | safeHtml"></span>
            </li>
        </ul>
    </collapse-item>
</collapse-group>
