.grid-item {
    background-color: #ffffff;
    -webkit-transition: width 0.25s, height 0.25s, transform 0.5s;
    -moz-transition: width 0.25s, height 0.25s, transform 0.5s;
    -o-transition: width 0.25s, height 0.25s, transform 0.5s;
    transition: width 0.25s, height 0.25s, transform 0.5s;
    overflow: hidden;
    box-shadow: 0 1px 30px -5px rgba(0,0,0,.3)
}

.panel-control {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 50px;
    padding: 15px;
    box-sizing: border-box;
}

.btn-header{
    border: none;
    background-color: transparent;
    cursor:pointer;
}
