.grid-item {
    background-color: #ffffff;
    overflow: hidden;
    box-shadow: 0 1px 10px -5px rgba(0,0,0,.3);

    -webkit-transition: width 0.25s, height 0.25s, -webkit-transform 0.3s;
    transition: width 0.25s, height 0.25s, -webkit-transform 0.3s;
    transition: width 0.25s, height 0.25s, transform 0.3s;
    transition: width 0.25s, height 0.25s, transform 0.3s, -webkit-transform 0.3s;
}

.panel-control {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    width: 100%;
    z-index: 3;

    padding:  10px 5px 0px;
    box-sizing: border-box;
}

.btn-header {
    border: none;
    cursor:pointer;
    outline: none; /* Remove outline button on click */

    background-color: transparent;
}
