md-toolbar {
    background-color: rgb(50, 53, 56);
}

md-sidenav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 200px;

    background-color: rgb(50, 53, 56);
}

.sidenav-item {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    color: #FFFFFF;
}

.sidenav-item:hover {
    background-color: rgba(0, 0, 0, 0.2);
}


md-sidenav-container {
    min-height: 100vh;
}

.dashboard {
    min-height: 100vh;
    background-color: rgb(236, 240, 241); 
}

.btn-add {
    position: fixed;
    bottom: 40px;
    right: 40px;
}

.btn-sidenav {
    padding: 0;
    border: none;
    background-color: rgb(50, 53, 56);
}

#sidenav-icon {
    width: 30px;
    height: 30px;
}

.grid {
    background-color: rgb(236, 240, 241);
}

.grid-item {
    background-color: #ffffff;
    -webkit-transition: width 0.25s, height 0.25s, transform 0.5s;
    -moz-transition: width 0.25s, height 0.25s, transform 0.5s;
    -o-transition: width 0.25s, height 0.25s, transform 0.5s;
    transition: width 0.25s, height 0.25s, transform 0.5s;
    overflow: hidden;
    box-shadow: 0 1px 30px -5px rgba(0,0,0,.3)
}

.handle {
    width: 100%;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 15px;
    box-sizing: border-box;
}

.btn {
    margin-left: 10px;
}

.btn-del-conf {
    float: right;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    outline: none;
}

.config-btn-label {
    margin-left: 5px;
}