md-toolbar {
    background-color: rgb(50, 53, 56);
}

md-sidenav-container {
    min-height: 100vh;
}

.btn-add {
    position: fixed;
    bottom: 40px;
    right: 40px;
}

.btn-del {
    padding: 0;
    border: none;
    background-color: rgba(0, 0, 0, 0);
}

.icon-close {
    color: rgb(250,250,250);
    height: 100%;
}

.menu-icon {
    color: white;

}

.grid {
    background-color: rgb(236, 240, 241);
}

.btn {
    margin-left: 10px;
}
