md-toolbar {
    background-color: rgb(40, 42, 45);
}

md-sidenav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 200px;

    background-color: rgb(50, 53, 56);
}

.sidenav-item {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
    color: #7f7f7f;
}

.sidenav-item:hover {
    background-color: rgba(0, 0, 0, 0.2);
}


md-sidenav-container {
    min-height: 100vh;
}

.dashboard {
    min-height: 100vh;
    background-color: rgb(236, 240, 241);
}

.btn-add {
    position: fixed;
    bottom: 40px;
    right: 40px;
}
