<md-toolbar>
    <button (click)="sideNav()" class="btn-sidenav"><img id="sidenav-icon" src="assets/sidenav-icon.png"/></button>
</md-toolbar>


<md-sidenav-container>
    <md-sidenav #sidenav mode="side" opened="{{sidenavOpened}}">
        <div>
            <ul>
                <li class="sidenav-item">Grid config(s)</li>
                <li class="sidenav-item">Current : {{currentConfigName}}</li>
                <li class="sidenav-item" *ngFor="let config of tabGridConfigs"
                        (click)="setGridConf(config)"
                        [style.background-color]="config.name === currentConfigName ? 'red' : 'transparent'">
                    {{config.name}}
                </li>
                <li (click)="saveConfigurationGrid()" class="sidenav-item"><md-icon>save</md-icon>SAVE</li>
            </ul>
        </div>
        <div>
            <ul>
                <li class="sidenav-item-draw" *ngFor="let d of draws; let i = index;">
                    <span (click)="addDraw(i)" [innerHtml]="d.svg | safeHtml"></span>
                </li>
            </ul>
        </div>
    </md-sidenav>

    <div class="dashboard">
        <div [ngGrid]="gridConfig">
            <grid-item *ngFor="let box of boxes" [itemConfigs]="box"></grid-item>
        </div>
    </div>
</md-sidenav-container>
