<md-toolbar>
    <button (click)="sideNav()" class="btn-sidenav"><img id="sidenav-icon" src="assets/sidenav-icon.png"/></button>
</md-toolbar>


<md-sidenav-container>
    <md-sidenav #sidenav mode="side" opened="{{sidenavOpened}}">
        <ul>
            <li class="sidenav-item">Grid config(s)</li>
            <li class="sidenav-item">Current : {{currentConfigName}}</li>
            <li class="sidenav-item" *ngFor="let config of tabGridConfigs"
                    (click)="setGridConf(config)"
                    [style.background-color]="config.name === currentConfigName ? 'red' : 'transparent'">
                {{config.name}}
            </li>
            <li (click)="saveConfigurationGrid()" class="sidenav-item"><md-icon>save</md-icon>SAVE</li>
        </ul>
    </md-sidenav>

    <div class="dashboard">
        <div [ngGrid]="gridConfig">
            <div *ngFor="let box of boxes" [(ngGridItem)]="box.config">
                <div class="handle title">{{box.title}} <button (click)="closeSVG()" class="btn-del" ><md-icon class="icon-close">close</md-icon></button>  </div>
                <img class="svg-img" draggable="false" src="assets/examples/{{box.svg}}" alt="Loading image...">
            </div>
        </div>
    </div>
</md-sidenav-container>
<button (click)="addDraw()" class="btn-add" color="primary" md-fab><md-icon>add</md-icon></button>

