md-sidenav {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;

    background-color: rgb(50, 53, 56);
    color: white;

    /* Temporary added to bypass the cdk-focus-trap-content bug (See the DOM) .*/
    overflow: hidden;
}

nav {
    margin: 20px 0;
}

nav li {
    padding: 10px 0;
    cursor: pointer;
    border-left: 3px solid transparent;
}

nav li:hover {
    background-color: rgb(22, 23, 25);
    border-left: 3px solid red;
}

nav li a {
    padding-left: 30px;
    color: white;
    text-decoration: none;
}

.active-link {
    color: red !important;
}

.btn-sidenav {
    z-index: 999;
    position: fixed;
    top: 40px;
    right: 40px;
    padding: 0;
    width: 40px;
    height: 40px;

    cursor: pointer;
    border: none;
    color: white;
    background-color: rgb(50, 53, 56);
}

.btn-sidenav--open {
    right: 240px;
}
