md-sidenav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 200px;

    background-color: rgb(50, 53, 56);
    color: white;
}

nav a {
    color: white;
    text-decoration: none;
}

.active-link {
    color: red !important;
}

.sidenav-item {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 10px;
    font-size: 18px;
}

.sidenav-item:hover {
    background-color: rgba(0, 0, 0, 0.2);
}

.sidenav-item-draw {
    cursor: pointer;
}

.sidenav-item-draw:hover {
    background-color: rgba(0, 0, 0, 0.5);
}

.btn-sidenav {
    z-index: 999;
    padding: 0;
    border: none;
    background-color: rgb(0, 0, 0);
    color: white;
    position: fixed;
    top: 40px;
    right: 40px;
    cursor: pointer;
    width: 40px;
    height: 40px;
}

.btn-sidenav-open {
    right: 240px;
}
.btn-del-conf {
    float: right;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    outline: none;
}

.config-btn-label {
    margin-left: 5px;
}

#new_config_name {
    margin-left: 10px;
    width: 75%;
}
