<div class="container">
    <form [formGroup]="form" novalidate (ngSubmit)="save(form)">
        <div formArrayName="connectors">
        <md-card *ngFor="let connector of form.controls.connectors.controls; let i=index">
            <img src="../../../assets/close.svg" (click)="removeConnector(i)"/>
            <md-card-title>
                Connector {{i + 1}}
            </md-card-title>
            <md-card-content [formGroupName]="i">
                    <md-list>
                        <md-list-item>
                            <md-input-container type="text">
                                <input formControlName="apiUrl" type="url" mdInput placeholder="Api url" size="100">
                            </md-input-container>
                        </md-list-item>
                        <md-list-item>
                            <md-input-container mdTooltip="In seconds" mdTooltipPosition="right">
                                <input formControlName="interval" mdInput type="number" placeholder="Interval" value="10">
                            </md-input-container>
                        </md-list-item>
                        <md-list-item>
                            <md-input-container type="number" mdTooltip="Variable name used for your script" mdTooltipPosition="right">
                                <input formControlName="name" mdInput placeholder="Name">
                            </md-input-container>
                        </md-list-item>
                        <md-list-item>
                            <md-radio-group formControlName="type">
                                <md-radio-button value="pull">PULL</md-radio-button>
                                <md-radio-button value="push">PUSH</md-radio-button>
                            </md-radio-group>
                        </md-list-item>
                        <md-list-item>
                            <button type='button' (click)="testConnector(connector.value, i)" md-raised-button color="primary">Test</button>
                            <div class="resultConnectorTest" *ngIf="connectorsTest[i] == true">
                                <img src="../../../assets/done.svg" />
                            </div>
                            <div class="resultConnectorTest" *ngIf="connectorsTest[i] == false">
                                <img src="../../../assets/close.svg" />
                            </div>
                        </md-list-item>
                    </md-list>
            </md-card-content>
        </md-card>
        </div>
        <div class="wrapper-btns">
            <button type='button' (click)="addEmptyConnector()" md-raised-button color="accent">Add connector</button>
            <button md-raised-button color="warn" type="submit" [disabled]="!form.valid">Save</button>
        </div>
    </form>
</div>
